.sidebar{
    width:101px;
    position: fixed;
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    bottom:0;
    left:0;
    top:80px;
    z-index: 100;
    margin-top:-8px;
}

.sidebar-icon{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95px;
    cursor: pointer;
    margin-bottom: -8px;
}

.sidebar-icon:hover{
    background-color: rgb(224, 224, 224);
}

.sidebar img{
    height: 32px;
}

.sidebar div{
    margin-top:8px;
    font-family: Arial;
    font-size: 12px;
}