body{
    margin: 0;
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video{
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

    .first-hori{
        margin-bottom: 0;
    }

        .th{
            width: 100%;
            margin-bottom: 0;
        }

    .second-hori{
        display: grid;
        grid-template-columns: 50px 1fr;
    }

        .profile{
            display: inline-block;
            vertical-align: top;
            padding-top: 15px;
            width: 40px;
        }

            .photo{
                width: 100%;
                border-radius: 200px;
            }

        .info{
            padding-left: 8px;
            display: inline-block;
            padding-top: 0px;
            width: 350px;
        }

            .text{
                font-size: 14px;
                font-weight: 450;
                line-height: 20px;
                font-family: Roboto;
                margin-bottom: 0px;
            }
            
            .channel{
                margin-top: 15px;
                margin-bottom: 0;
                color: rgb(92, 92, 92);
                font-size: 14px;
                font-family: Roboto; 
            }
            
            .stats{
                margin-top: 4px;
                margin-bottom: 0;
                color: rgb(92, 92, 92);
                font-size: 14px;
                font-family: Roboto;
            }